.movie {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 12.45px;
    margin-top: 12.45px;
}
.movies {
    margin-top:0;
    color: red;
}
.title {
    text-align: center;
    background-color: darkgreen;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

.main_body {
    display: flex;
}
.star {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.star > h2 {
    margin-bottom: 0px;
    margin-top: 7%;
}
button {
    width:150px;
    background-color: pink;
    border-radius: 5px;
}
#show {
    margin-top: 10px;
    width: 150px;
    height: 50px;
    background-color: green;
    border-radius: 5px;
    color: white
}
