.main {
    display: flex;
    justify-content: space-between;
}

form {
    margin-top: 19px;
    margin-bottom: 26px;
}

input {
    width: 100px;
}
button {
    background-color: lightblue;
    border-radius: 5px
}

#view {
    width:150px;
    height: 100px;
    font-size: 25px;
    background-color: green;
    color: white;
}