<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello, world!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="/css/movies.css" >
</head>
<body>
<h1 class="title">Movie Rating App</h1>
<div class="main_body">
<div class="movies">
{{#movies}}
  <h2 class="movie">{{.}} </h2> 
{{/movies}} 
</div>
  <div class="star">
  {{#ratings}}
  <h2>{{.}} </h2>
  {{/ratings}} 
  </div>

</div>
<div><a href ="/dynamic/registration"><button>Register/Login</button></a></div>
<div><a href ="/dynamic/allcomments"><button id="show">Show All Comments</button></a></div>
<form action="/dynamic/deletemovie" method="POST">
        <input type="text" name="movie_name" placeholder="Movie Name"/> 
        <input type="submit" value="Delete Movie"/>
</form>
</body>
</html>