<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello, world!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="/css/movies.css" >
</head>
<body>
<form action="/dynamic/createaccount" method="POST">
        <input type="text" name="username"/>       
        <input type="text" name="password"/> 
        <input type="text" name="dob"/>   

        <input type="submit"/>
</form>
</body>
</html>