<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello, world!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="/css/user.css" >
</head>
<body>
  <h1>Welcome, {{username}}</h1>
  <a href="/dynamic/movies"><button>Log Out</button></a>
<div class="main">
    <div class="movie_list">
    {{#movies}}
    <h2>{{.}}</h2>
    {{/movies}}
    </div>
    <div class="movie_id_list">
    {{#movieid}}
        <form action="/dynamic/writecomment" method="POST">
            <button id={{.}} type="submit">Write Comment</button>
            <input type="text" name="comment" size="10"/>
            <input type="hidden" name="userid" value={{id}}>
            <input type="hidden" name="movieid" value={{.}}>
        </form>
    {{/movieid}}
    </div>
    <div> 
      <form action="/dynamic/viewyourcomment" method="GET">
            <button id = "view" name="userid" value={{id}} type="submit">View Your Comment</button>
        </form>
    </div>
</div>
</body>
</html>